name: hr-ingress-model-armor
service: modelarmor.__REGION__.rep.googleapis.com
metadata:
  model_armor_settings: '[{"request_template_id":"projects/__PROJECT_ID__/locations/__REGION__/templates/hr-agent-ingress","response_template_id":"projects/__PROJECT_ID__/locations/__REGION__/templates/hr-agent-ingress"}]'
failOpen: false
timeout: 5s

